[user]
    name = Vincent Fleurette
    email = vincent.fleurette@iserv.fr
[core]
    editor = vim
    autocrlf = input
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    co = checkout
    st = status
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[merge]
    tool = kdiff3
[push]
    default = tracking
